<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recruiting App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/site.css">
    </head>
    <body>
        <h2><%=firstName + " " + lastName%></h2>
        <img src="../resumes/<%=resume%>" alt="rubbish">
    </body>
</html>