<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recruiting App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/site.css">

    </head>
    <body>
        <div class="container vertical-center">
            <div class="jumbotron text-center">
                <h1 class="display-3">BHHC Recruitment App</h1>
                <a class="btn btn-primary btn-lg" href="new" role="button">Add New Applicant</a>
                <a class="btn btn-primary btn-lg" href="list" role="button">View Applicants</a>
            </div>
        </div>
    </body>
</html>